# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
#
# NOTE:
#
# We're keeping build files in the repo for now, to ensure that they're
# included in the release archives on GitHub. This is done (for now) so
# the backend will be able to install the built UI by downloading the
# built files directly from GitHub.
#
# This could likely be improved in the future; perhaps by setting up a
# GitHub Actions/CICD flow and storing the built files somewhere as a
# GitHub artifact. The current approach of manually building the UI and
# storing the built files in the repository is a good-enough-for-now hack.
#
#/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
