/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */

.timeslider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.timeslider:hover {
    opacity: 1;
}

.timeslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 25%;
    background: #4caf50;
    cursor: pointer;
}

.timeslider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 25%;
    background: #4CAF50;
    cursor: pointer;
}